div(style={"width": "200px"})
    meter(style={"width": "200px"} min=minimo max=maximo value=valor)
    div(style={"display": "flex", "flex-direction":"row", "justify-content": "space-between"})
        p= minimo
        p= maximo
